          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tambahModal">
                <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama Unit</th>
                      <th>Tingkat Unit</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < unit.length; i++ ) { %>
                      <tr>
                        <td><%= i+1 %></td>
                        <td><%= unit[i].unit %></td>
                        <td><%= unit[i].tingkat %></td>
                        <td>
                            <a href="javascript:void(0)" type="button" class="btn btn-warning btn-circle btn-sm button-update"
                            data-id="<%= unit[i].id %>" data-unit="<%= unit[i].unit %>"  data-tingkat="<%= unit[i].tingkat %>"><i class="fas fa-edit"></i></a>
                            <button  title="hapus" class="btn btn-danger btn-circle btn-sm button-hapus" data-toggle="modal" data-target="#hapusModal"
                              data-id="<%= unit[i].id %>"
                              data-unit="<%= unit[i].unit%>"
                              ><i class="fas fa-trash"></i></button>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End of DataTables -->