
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tambahModal">
      <i class="fas fa-plus"></i>
      </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Foto</th>
            <th>NIP</th>
            <th>Nama</th>
            <th>JK / TTL</th>
            <th>Unit</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < pengabdi.length; i++ ) { %>
            <tr>
              <td><%= i+1 %></td>
              <td>
                <% if ( pengabdi[i].fotoUrl == null || pengabdi[i].fotoUrl.length === 0) { %>
                  <% if (pengabdi[i].jenisKelamin == "Perempuan") { %>
                    <img src="http://localhost:3000/images/perempuan.png" alt="fotoUrl" width="70px"></td>
                  <% } else { %>
                    <img src="http://localhost:3000/images/laki.png" alt="fotoUrl" width="70px"></td>
                  <% } %>
                <%} else { %>
                <img src="http://localhost:3000/<%= pengabdi[i].fotoUrl %>" alt="fotoUrl" width="70px"></td>
                <%} %>
              <td> <a href="/admin/pengabdi/detail-pengabdi/<%= pengabdi[i].id %>"> <%= pengabdi[i].nip %> </a></td>
              <td><%= pengabdi[i].nama %></td>

              <%  const bulan= pengabdi[i].tanggalLahir.toLocaleString("id-ID", { month: "long" }); %>
              <% const hari = pengabdi[i].tanggalLahir.toLocaleString("id-ID", { day: "2-digit" }); %>
              <% const tahun = pengabdi[i].tanggalLahir.getFullYear(); %>
              <td><%= pengabdi[i].jenisKelamin %>, <br> <%= `${hari} ${bulan} ${tahun}` %> </td>
              <td>
                <%= pengabdi[i].unitId[0].unit %>  </td>
              <td>
                <!-- <form action="/admin/pengabdi/<%= pengabdi[i].id %>?_method=DELETE" method="POST"> -->
                  <a href="/admin/pengabdi/detail-pengabdi/<%= pengabdi[i].id %>" type="button" title="detail" class="btn btn-primary btn-circle btn-sm" ><i class="fas fa-plus"></i></a>
                  <a href="javascript:void(0)" type="button" title="edit" class="btn btn-warning btn-circle btn-sm button-update"
                  data-id="<%= pengabdi[i].id %>"
                  data-nip="<%= pengabdi[i].nip%>"
                  data-nama="<%= pengabdi[i].nama%>"
                  data-tempatlahir="<%= pengabdi[i].tempatLahir%>" %>
                  data-tanggallahir="<% if ( pengabdi[i].tanggalLahir) { %><%= pengabdi[i].tanggalLahir.toLocaleString().split('T')[0] %><%}%>"
                  data-agama="<%= pengabdi[i].agama%>"
                  data-jeniskelamin="<%= pengabdi[i].jenisKelamin%>"
                  data-golongandarah="<%= pengabdi[i].golonganDarah%>"
                  data-statuspernikahan="<%= pengabdi[i].statusPernikahan%>"
                  data-alamat="<%= pengabdi[i].alamat%>"
                  data-telpon="<%= pengabdi[i].telpon%>"
                  data-email="<%= pengabdi[i].email%>"
                  data-tmtgolongan="<% if ( pengabdi[i].tmtGolongan) { %><%= pengabdi[i].tmtGolongan.toLocaleString().split('T')[0] %><%}%>"
                  data-tmtgaji="<% if ( pengabdi[i].tmtGaji) { %><%= pengabdi[i].tmtGaji.toLocaleString().split('T')[0] %><%}%>"
                  data-tmtkerja="<% if ( pengabdi[i].tmtKerja) { %><%= pengabdi[i].tmtKerja.toLocaleString().split('T')[0] %><%}%>"
                  data-unitid="<%= pengabdi[i].unitId[0].id%>"
                  data-jenispengabdiid="<%= pengabdi[i].jenisPengabdiId[0].id%>"
                  data-jenis="<%= pengabdi[i].jenisPengabdiId[0].jenis%>"
                  ><i class="fas fa-edit"></i></a>
                  <button  title="hapus" class="btn btn-danger btn-circle btn-sm button-hapus" data-toggle="modal" data-target="#hapusModal"
                  data-id="<%= pengabdi[i].id %>"
                  data-nama="<%= pengabdi[i].nama%>"
                  ><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End of DataTables -->